In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
#read_csv is a pandas function to read csv files
data = pd.read_csv('data.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Symbol               51 non-null     object
 1   Open                 51 non-null     object
 2   High                 51 non-null     object
 3   Low                  51 non-null     object
 4   Last Traded Price    51 non-null     object
 5   Change               51 non-null     float64
 6   %Change              51 non-null     float64
 7   Traded Volume(lacs)  51 non-null     float64
 8   Traded Value(crs)    51 non-null     float64
 9   52 Week High         51 non-null     object
 10  52 Week Low          51 non-null     object
 11  365 Days % Change    51 non-null     float64
 12  30 Days % Change     51 non-null     float64
dtypes: float64(6), object(7)
memory usage: 5.3+ KB

In [ ]:
data.isnull().any()

Symbol                 False
Open                   False
High                   False
Low                    False
Last Traded Price      False
Change                 False
%Change                False
Traded Volume(lacs)    False
Traded Value(crs)      False
52 Week High           False
52 Week Low            False
365 Days % Change      False
30 Days % Change       False
dtype: bool

In [ ]:
data=data.rename(columns={'chance of Admit':'chance of Admit'})